version: "3"

services:
  django:
    container_name: kalaysyn_django
    depends_on:
      - db
    build: .
    volumes:
      - .:/app
    ports:
      - "8000:8000"
      - "3000:3000"
    environment:
      - ENABLE_DEBUGGING=1
      - DISABLE_SENTRY=1
    command: python manage.py runserver 0.0.0.0:8000

  celery:
    container_name: kalaysyn_celery
    depends_on:
      - django
      - redis
    build: .
    volumes:
      - .:/app
    command: celery -A configuration worker --loglevel=INFO

  flower:
    container_name: kalaysyn_flower
    depends_on:
      - django
      - redis
    build: .
    ports:
      - "5555:5555"
    volumes:
      - .:/app
    command: celery -A configuration flower

  db:
    container_name: kalaysyn_db
    image: postgres:14-alpine
    environment:
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql

  redis:
    container_name: kalaysyn_redis
    image: redis
    ports:
      - "6379:6379"

volumes:
  db:
    